<div class="admin-section admin-section2">
    <div class="admin-section-column">
        <div class="admin-section-panel admin-section-stats">
            <a class="admin-section-stats-panel" href="/admin/account">
                <i class="fas fa-user-tie" style="background-color: #cfcd45"></i>
                Account
            </a>
        </div>
    </div> 
</div>