<h3 class="text-center my-5">Deposit</h3>
<!-- buộc toàn bộ dòng và cột phải bỏ trong class container -->
<div class="container w-50">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-5">
            <div class="border p-3 rounded bg-light">
                <form method="post">
                    <div class="form-group font-weight-bold">
                        Total value: <span class="text-success">{{data.total_value}}</span>VND
                    </div>
                    <div class="form-group">
                        <label for="phone_receiver">Phone number of receiver</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            <input id="phone_receiver" type="number" name="phone_receiver" class="form-control"
                                placeholder="Phone number of receiver">
                        </div>
                        <div class="form-group">
                            <label for="name">Name of receiver</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                                <input readonly id="name" type="text" name="name" class="form-control"
                                    placeholder="Name of receiver">
                            </div>
                            <div class="form-group">
                                <label for="money">Money</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-user"></i>
                                        </span>
                                    </div>
                                    <input id="money" type="number" name="money" class="form-control"
                                        placeholder="Money">
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="fee">Fee 5%: <span id="feeDeposit"></span></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-user"></i>
                                        </span>
                                    </div>
                                    <select id="feeperson" name="feeperson">
                                        <option value="sender">Sender</option>
                                        <option value="receiver">Receiver</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="note">Note</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-user"></i>
                                            </span>
                                        </div>
                                        <input id="note" type="text" name="note" class="form-control"
                                            placeholder="Note...">
                                    </div>

                                    <div class="form-group" id="my-alert">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-success px-5" type="submit">Deposit now</button>
                                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const myAlert = document.getElementById('my-alert')
    const money = document.getElementById('money')
    const feeDeposit = document.getElementById('feeDeposit');
    if (money) {
        money.addEventListener('input', async e => {
            //xu ly nếu nhập số tiền chuyển hơn số dư

            const myFetch = await fetch(location.href + "/info")
            const res = await myFetch.json()
            if (!res.code) {
                const data = res.data
                const rest = data.total_value

                if (rest < e.target.value) {
                    showAlert("Your money not enough")
                } else {
                    myAlert.innerHTML = ""
                }
                //xu ly fee 5%
                let fee = e.target.value * 0.05;
                feeDeposit.innerHTML = fee;
            }
            //console.log(res)
        })
    }
    //auto hiện tên ghi nhập đúng sdt
    const phone_receiver = document.getElementById('phone_receiver');
    const name_receiver = document.getElementById('name');

    phone_receiver.addEventListener('blur', async e =>{
        let phone = phone_receiver.value;
        //console.log(phone);
        const myFetch = await fetch(location.href + "/info",{
            method: "POST",
            body: JSON.stringify({phone}),
             headers: {'Content-Type': 'application/json'},

        })
        const res = await myFetch.json();
        if(!res.code){
            const data = res.data;
            const name = data.name;
            name_receiver.value = name;
            myAlert.innerHTML = ""
        }else{
            showAlert(res.message);
        }
        
    })


    function showAlert(message) {
        myAlert.innerHTML = ""
        const content = `
        <div class="alert alert-danger" role="alert">
          ${message}
        </div>
      `
        myAlert.insertAdjacentHTML('beforeend', content)
    }
</script>